<launch>
  <arg name="viewer" default="false"/>
  <include file="$(find usb_cam)/d.launch">
    <arg name="finger" value="0"/>
    <arg name="viewer" value="$(arg viewer)"/>
  </include>
  <include file="/home/client/d.launch">
    <arg name="finger" value="1"/>
    <arg name="viewer" value="$(arg viewer)"/>
  </include>
  <include file="/home/client/d.launch">
    <arg name="finger" value="2"/>
    <arg name="viewer" value="$(arg viewer)"/>
  </include>
</launch>
