<launch>
  <arg name="viewer" default="false"/>
  <arg name="respawn" default="false"/>
  
  <include file="$(find usb_cam)/launch/d.launch">
    <arg name="finger" value="0"/>
    <arg name="viewer" value="$(arg viewer)"/>
    <arg name="respawn" default="false"/>
  </include>
  
  <include file="$(find usb_cam)/launch/d.launch">
    <arg name="finger" value="1"/>
    <arg name="viewer" value="$(arg viewer)"/>
    <arg name="respawn" default="false"/>
  </include>
  
  <include file="$(find usb_cam)/launch/d.launch">
    <arg name="finger" value="2"/>
    <arg name="viewer" value="$(arg viewer)"/>
    <arg name="respawn" default="false"/>
  </include>
</launch>
