<launch>
  <arg name="viewer" default="false" />
  <arg name="finger" default="0" />
  <arg name="device" default="/dev/v4l/by-id/usb-Shadow_Robot_Co._Distal_sensor_$(arg finger)-video-index0" />
  <arg name="respawn" default="false"/>

  <node name="usb_cam_$(arg finger)" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="$(arg respawn)">
    <param name="video_device" value="$(arg device)"/>
    <param name="image_width" value="1280" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuvmono10" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="50"/>
  </node>

  <node if="$(arg viewer)" name="image_view_$(arg finger)" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam_$(arg finger)/image_raw"/>
    <param name="autosize" value="true" />
  </node>

</launch>
