<launch>
  <arg name="finger" default="0" />

  <node name="image_view_$(arg finger)" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/dx_finger/F$(arg finger)/tactiles/distal/image_raw"/>
    <param name="autosize" value="true" />
  </node>
</launch>
